<!DOCTYPE html>
<html>

<head>
    <title>CodeToCAD Reference Sheet</title>
    <style>
        @media print {
            .pagebreak {
                page-break-before: always;
            }
        }

        body {
            -webkit-text-size-adjust: 100%;
            font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
            color:#555;
        }

        header {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .grid-container {
            display: grid;
            gap: 2rem;
            {# grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); #}
        }

        .grid-container-parameters {
            display: grid;
            gap: 2rem;
            grid-template-columns: 200px auto;
        }

        .grid-item {
            padding: 5px;
        }

        .className {
            list-style: none;
            list-style-image: none;
            font-weight: 700;
            font-size: 110%;
            line-height: normal;
            color: #2980b9;
            box-sizing: border-box;
        }

        .method_name {
            font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
            list-style: none;
            list-style-image: none;
            box-sizing: border-box;
            font-weight: 700;
            display: table;
            margin: 6px 0;
            font-size: 90%;
            line-height: normal;
            padding: 6px;
            position: relative;
            margin-top: 0;
            margin-bottom: 6px;
            border: none;
            border-left: 3px solid #ccc;
            background: #f0f0f0;
            color: #555;
        }

        .methods {
            padding: 6px;
            margin: 6px 0;
            font-size: 90%;

        }

        .subHeading {
            -webkit-text-size-adjust: 100%;
            font-size: 16px;
            font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
            color: #404040;
            line-height: 24px;
            list-style: none;
            list-style-image: none;
            box-sizing: border-box;
            font-weight: 700;
            margin-bottom: 0;
        }

        .subSubHeading {
            -webkit-text-size-adjust: 100%;
            font-size: 12px;
            font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
            color: #404040;
            line-height: 24px;
            list-style: none;
            list-style-image: none;
            box-sizing: border-box;
            font-weight: 700;
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .chip {
            display: inline-block;
            padding: 0 10px;
            margin-bottom: 2px;
            line-height: 25px;
            border-radius: 25px;
            background-color: #f1f1f1;
            cursor: pointer;
            background: linear-gradient(to bottom, #f1f1f1 50%, #2980b9 50%);
            background-size: 100% 200%;
            background-position: right top;
            transition: all 0.5s ease;
        }

        .chip:hover {
            background-position: right bottom;
            text-decoration: underline;
        }
    </style>
</head>

<body>
{%- from 'generate_method.j2' import known_method_names_to_skip -%}
    {# MARK: Methods Chips View macros #}

    {% macro methodsChipsView(className, methods) -%}

    {% for method_name, properties in methods.items() %}

    {%- if method_name in known_method_names_to_skip %}
    {# Do nothing #}

    {%- else %}
    {%- set parameters = properties["parameters"] if "parameters" in properties else {} -%}

    <a href=#{{className}}_{{method_name}} class="chip">{{method_name}}()</a>

    {%-endif-%}

    {% endfor %}

    {%- endmacro %}

    {# MARK: Methods Parameters macros #}

    {% macro methodsParametersView(className, methods) -%}

    {% for method_name, properties in methods.items() %}
    {%- if method_name in known_method_names_to_skip %}
    {# Do nothing #}

    {%- else %}
    {%- set parameters = properties["parameters"] if "parameters" in properties else {} -%}

    {{className}}::<span class="subHeading" id={{className}}_{{method_name}}>{{method_name}}({{ parameters.keys()|join(',
        ') if "parameters" in properties}})</span>

    {% if "information" in properties -%}
    <div class="methods">{{- properties["information"] -}}</div>
    {%-endif%}
    {% if "return_type" in properties -%}
    <div><span class="subSubHeading">returnType:</span> {{properties["return_type"] -}}</div>
    {%-endif%}
    {% for parameterName, parameter in parameters.items() %}

    <div class="methods grid-container-parameters">
        <div class="method_name grid-item">{{parameterName}}</div>
        <div class="grid-item">
            {% if "information" in parameter -%}
            <div><span class="subSubHeading">Information:</span> {{parameter["information"] -}}</div>
            {%-endif%}
            {% if "type" in parameter -%}
            <div><span class="subSubHeading">Type:</span> {{parameter["type"] -}}</div>
            {%-endif%}
            {% if "default_value" in parameter -%}
            <div><span class="subSubHeading">Default Value:</span> {{ parameter["default_value"] -}}</div>
            {%-endif%}
            {% if "required" in parameter -%}
            <div><span class="subSubHeading">Required:</span> {{ parameter["required"] -}}</div>
            {%-endif%}
        </div>
    </div>


    {% endfor %}

    {%-endif-%}

    {% endfor %}

    {%- endmacro %}

    {# MARK: Header: #}
    <header>
        <h2 style="margin: 0;">CodeToCAD Reference Sheet</h2>
        <div>
            Repo: <a href="https://github.com/CodeToCAD/CodeToCAD">https://github.com/CodeToCAD/CodeToCAD</a></div>
        <div>
            Examples: <a
                href="https://codetocad.github.io/CodeToCAD/examples.html">https://codetocad.github.io/CodeToCAD/examples.html</a>
        </div>
    </header>

    {# MARK: Cheat Sheet grids: #}

    <div class="grid-container">
        {% for className, methods in capabilities.items() -%}
        {% if className == "Entity" %}

        {# Do nothing #}

        {%- else %}

        <div class="grid-item">
            <span class="className">{{className}}</span>
            {% if "information" in methods -%}
            <div class="subHeading">{{- methods["information"] -}}</div>
            {%-endif%}

            {{methodsChipsView(className, methods)}}



            {% if className == "Part" or className == "Sketch" %}

            {{methodsChipsView(className, capabilities["Entity"])}}

            {%-endif-%}

        </div>
        {%-endif-%}

        {% endfor -%}
    </div>
    <div class="pagebreak"> </div>

    {# MARK: Methods documentation: #}

    <header>
        <h2 style="margin: 0;">Documentation</h2>
    </header>

    <div>
        {% for className, methods in capabilities.items() -%}
        {% if className == "Entity" %}

        {# Do nothing #}

        {%- else %}

        <div>
            <span class="className">{{className}}</span>
            {% if "information" in methods -%}
            <div class="subHeading">{{- methods["information"] -}}</div>
            {%-endif%}

            <div class="methods">

                {{methodsParametersView(className, methods)}}

                {% if className == "Part" or className == "Sketch" %}

                {{methodsParametersView(className, capabilities["Entity"])}}

                {%-endif-%}
            </div>

        </div>
        {%-endif-%}

        {% endfor -%}
    </div>

</body>

</html>