
{% set types = {"string":"str", "array": "list", "object": "dict", "any": "object", "number":"int", "float":"float", "boolean":"bool", "string,float":"FloatOrItsStringValue","int,float":"IntOrFloat", "string,Part":"PartOrItsName", "string,Entity":"EntityOrItsName","string,Sketch":"SketchOrItsName", "list[string,Entity]":"list[EntityOrItsName]", "string,Landmark":"LandmarkOrItsName","list[string,Landmark]":"list[LandmarkOrItsName]", "string,Material":"MaterialOrItsName", "string,int,Axis":"AxisOrItsIndexOrItsName", "string,float,Dimension":"DimensionOrItsFloatOrStringValue","string,float,Angle":"AngleOrItsFloatOrStringValue", "string,Entity": "EntityOrItsName", "string,list[string],Point": "PointOrListOfFloatOrItsStringValue", "list[string,list[string],Point]": "list[PointOrListOfFloatOrItsStringValue]", "string,LengthUnit": "LengthUnitOrItsName", "string,PresetLandmark": "PresetLandmarkOrItsName","string,Camera": "CameraOrItsName" } -%}

{% macro typeMapping(typeName) -%}
    {{types[typeName] if typeName in types else "'"+typeName+"'"}}
{%- endmacro %}

{% macro typeMappingWithClassNameSuffix(typeName, classNameSuffix, allCodeToCADClassNames) -%}
    {%-set returnType = {"value":typeMapping(typeName)}-%}
    {%-if typeName not in types-%}
        {%-for codeToCADClassName in allCodeToCADClassNames-%}
            {%-if codeToCADClassName in returnType["value"] -%}
                {%-set _ = returnType.update({"value": returnType["value"]|replace(codeToCADClassName, codeToCADClassName + classNameSuffix)})-%}
            {%-endif-%}
        {%-endfor-%}
    {%-endif-%}
    {{returnType["value"]}}
{%- endmacro %}

{%macro generateMethodArguments(methodName, parameters, isStaticMethod, useAbstractMethodDecorator, classNameSuffix, allCodeToCADClassNames) -%}
    {{"@abstractmethod\n    " if useAbstractMethodDecorator and not isStaticMethod-}}
    {{"@staticmethod\n    " if isStaticMethod-}}
    def {{methodName}}({{"self" if not isStaticMethod}}{%- if parameters.keys()|length > 0 -%}
    {{"," if not isStaticMethod}} {%for parameter, definition in parameters.items() -%} {# e.g. {"name":{"type": "string"}} #}
        {%-set defaultValue = definition.defaultValue if "defaultValue" in definition else None-%}
        {%-set defaultValue = '"'+defaultValue+'"' if defaultValue is string else defaultValue|string -%}
        {{ parameter }} {{-": " + ("Optional["+typeMappingWithClassNameSuffix(definition.type, classNameSuffix, allCodeToCADClassNames)+"]" if definition.required == False else typeMappingWithClassNameSuffix(definition.type, classNameSuffix, allCodeToCADClassNames)) if definition.type and definition.type != "any" }} {{- (" = "+defaultValue if "defaultValue" in definition  else " = None") if definition.required == False or "defaultValue" in definition -}} {{-", " if not loop.last}} 
    {%-endfor%}
{%-endif%}
{%- endmacro %}