{%- from 'generate_method.j2' import generate_method -%}
{%- from 'generate_init_constructor.j2' import generate_init_constructor -%}

{%if capabilities_loader.capabilities[class_name].constructor%}
{{generate_init_constructor(capabilities_loader, class_name, capabilities_loader.capabilities[class_name].constructor, use_abstract_method_decorator)}}
{%endif%}


{%for capabilities_method in capabilities_loader.capabilities[class_name].methods %}
    {{generate_method(capabilities_loader, capabilities_method, use_abstract_method_decorator)}}
{%endfor%}

{%if template_args.generate_interface_only_capabilities_in_a_separate_file == false %}
{%for implements_class_names in capabilities_loader.capabilities[class_name].implements %}
    {%for capabilities_method in capabilities_loader.capabilities[implements_class_names].methods %}
    {{generate_method(capabilities_loader, capabilities_method, use_abstract_method_decorator)}}
    {%endfor%}
{%endfor%}
{%endif%}