{%- from 'generate_method_definition.j2' import generate_method_definition -%}

{%macro generate_method(capabilities_loader, capabilities_method, use_abstract_method_decorator, use_supported_decorator) -%}
    {{generate_method_definition(capabilities_loader, capabilities_method, use_abstract_method_decorator, use_supported_decorator)}}

        {% if use_abstract_method_decorator -%}
        '''
        {{ capabilities_method.information }}
        '''
        {%endif%}

        {% if use_abstract_method_decorator -%}
        print("{{capabilities_method.name}} is called in an abstract method. Please override this method.")
        
        raise NotImplementedError()
        {%else-%}
        print("{{capabilities_method.name}} called", {{"f\": {" +capabilities_method.parameters_names|join("}, {") + "}\"" if capabilities_method.parameters_names|length>0 else ""}})
        
        return {{ capabilities_method.return_type_mock_value }}
        {%endif%}
{% endmacro %}