[flake8]
extend-ignore = E501,F403,F405
exclude = .git,**/__pycache__,build,dist,development/dev_virtual_environment/**,CodeToCADBlenderAddon/**
per-file-ignores =
    # imported but unused
    __init__.py: F401
    codetocad_types.py: F401